html, body, .container-fluid, .container-fluid > article {
    height: 100%;
}

.ball-container {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    margin-top: 10px;
}

.ball {
    text-align: center;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    line-height: 100%;
    position: absolute;
}

.ball div {
    position: relative;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.invisible {
    visibility: hidden;
}

.toolbox {
    margin-top: 10px;
}

.move-to-bottom {
    bottom: 0;
    right: 0;
    position: fixed;

    animation-name: bounceball;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(.79,.56,.43,.90);
}

 @-webkit-keyframes bounceball {
    from { bottom: 100%; }
    50%  { bottom: 0%; }
    70%  { bottom: 40%; }
    to   { bottom: 0; }
}